{% extends 'tr-base.html' %}

{% block content %}
<h1>Group detail page</h1>
{{group.name}}
{{group.students.count}}

<form method="POST" class="space-y-3">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Lesson Title ..." minlength="2">
    <button type="submit" name="lesson">Add Lesson</button>

</form>

<h1>Students</h1>
{% for student in students %}
<h1>
    {{student.first_name}}
    {{student.last_name}}
    {{student.email}}
    {{student.phone_num}}
</h1>
    
{% endfor %}

<h1>Lessons</h1>
{% for lesson in lessons %}
<h1>
    <a href="{% url 'tr-lesson-detail' lesson.pk %}">
        {{lesson.title}}
    </a>
    {{lesson.date}}
</h1>
    
{% endfor %}

{% endblock %}